<!-- projects -->
<h1 class="ui header"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> <div class="content ic3-color">Featured Projects</div>
</h1>
<h2 class="ui header">HoneyBadgerMPC
  <div class="sub header">

  </div>
</h2>
<div class="">
    <p>
      Multi-Party Computation (MPC) is a flexible paradigm for computing on confidential data. HoneyBadgerMPC is an asynchronous MPC protocol and implementation that scales to large networks and provides blockchain-grade fault tolerance and availability guarantees.
      For further details, please check out <a href="https://github.com/initc3/HoneyBadgerMPC">https://github.com/initc3/HoneyBadgerMPC</a>.
    </p>
    Keywords:
    <span class="ui small labels">
        <div class="ui basic label">
          Multi-Party Computation
        </div>
        <div class="ui basic label">
          Scaling
        </div>
        <div class="ui basic label">
            Availability Guarantees
        </div>
        <div class="ui basic label">
            Safety and Compliance
        </div>
    </span>
</div>
<h2 class="ui header">More projects:</h2>
<ul>
    <li>
        <strong>Avalanche</strong>: A New Consensus Protocol That is POW-free, Leader-less, Committee-less, and Permission-less
    <li>
        <strong>PISA Outsourcing</strong>: A Protocol That Outsources State Channels
    <li>
        <strong>Saber</strong>: A New Paradigm for Parallel and Asynchronous Smart Contract Execution
    <li>
        <strong>T-Rex</strong>: A new Framework for Real-time and Trust-free Cryptocurrency Exchange
    <li>
        <strong>VyperFlow</strong>: A New Programming Language for Blockchain-based Smart Contracts
</ul>
<i class="arrow circle right icon"></i><a href="{{ SITE_ROOT }}/projects.html">Even more projects...</a>
