<h1 class="ui header"><i class="twitter square icon"></i> <div class="content ic3-color">Follow Us</div> </h1>
<p> <a href="https://twitter.com/initc3org" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @initc3org</a>
    <script>
        ! function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                    p = /^http:/.test(d.location) ? 'http' : 'https';
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = p + '://platform.twitter.com/widgets.js';
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, 'script', 'twitter-wjs');
    </script>
</p>
<h1 class="ui header"><i class="youtube icon"></i></h1>
<p> <a href="https://www.youtube.com/channel/UCz-eTbD4kHkYxGhUfXawHow?view_as=subscriber" class="youtube-subscribe-button" data-show-count="false" data-size="large">Youtube</a>
    <script>
        ! function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                    p = /^http:/.test(d.location) ? 'http' : 'https';
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = p + '://apis.google.com/js/platform.js';
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, 'script', 'youtube-wjs');
    </script>
</p>
