<h1 class="ui header"><i class="user astronaut icon"></i> <div class="content ic3-color">Follow Us</div> </h1>

Sign up <script> var _ctct_m = ""; </script>
<script id="signupScript" src="//static.ctctcdn.com/js/signup-form-widget/current/signup-form-widget.min.js" async defer></script> to join our mailing list and stay up to date on all things IC3! 

<div class="ui link list">
    <a class="item" href="https://twitter.com/initc3org" target="_blank">
        <i class="large blue twitter icon"></i>
            X
    </a>
    <a class="item" href="https://www.youtube.com/channel/UCz-eTbD4kHkYxGhUfXawHow" target="_blank">
        <i class="large red youtube icon"></i>
            YouTube
    </a>
    <a class="item" href="https://www.linkedin.com/company/the-initiative-for-cryptocurrencies-contracts-ic3/" target="_blank">
        <i class="large blue linkedin icon"></i>
            LinkedIn
    </a>
</div>
