<h1 class="ui header"><i class="user astronaut icon"></i> <div class="content ic3-color">Follow Us</div> </h1>
<div class="ui link list">
    <a class="item" href="https://twitter.com/initc3org" target="_blank">
        <i class="large blue twitter icon"></i>
            Twitter
    </a>
    <a class="item" href="https://www.youtube.com/channel/UCz-eTbD4kHkYxGhUfXawHow" target="_blank">
        <i class="large red youtube icon"></i>
            YouTube
    </a>
    <a class="item" href="https://www.linkedin.com/company/the-initiative-for-cryptocurrencies-contracts-ic3/" target="_blank">
        <i class="large blue linkedin icon"></i>
            LinkedIn
    </a>
</div>
