<!-- job board -->
<h1 class="ui header"><i class="fa fa-bullhorn" aria-hidden="true"></i> <div class="content ic3-color">Available Positions</div></h1>

<ul>
    <li> A <a href="postdoc.html">postdoc</a> position is available in Cornell/CornellTech and Ethereum Foundation Research Group. </li>
    <li><a href="phd.html">
            Faculty at all IC3 institutions have openings for Ph.D. students.</a> </li>
    <li> A <a href="dc.html">Director of Community</a> position is now open and we're accepting applications. </li>
</ul>
