/*IC3 LOGO IS ALWAYS DISPLAYED*/
#ic3-logo {
  padding: 0;
  margin-left: 1.5rem;

  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Roboto Condensed';
  color: #9c2a4c;
}

/*MOTO IS DISPLAYED ON LARGER SCREEN (>992px)*/
.ic3-moto {
  font-size: 1.2rem !important;
}

div.ic3-moto.item {
  display: none !important;
  width: 13rem;
  word-wrap: break-word;
}

/*display on larger screen*/
@media only screen and (min-width: 992px) {
  .navbar > .menu > div.ic3-moto {
    display: block !important;
  }
}

/*display on mobile as well*/
@media only screen and (max-width: 768px) {
  .navbar > .menu > div.ic3-moto {
    display: block !important;
    width: 100%;
    padding-left: 0 !important;
  }
}

/*on really small screen*/
@media only screen and (max-width: 440px) {
  .navbar > .menu > div.ic3-moto {
    width: 13rem;
  }
}

/* < 1110: a slightly more compact menu */
@media only screen and (max-width: 1110px) {
  .navbar .menu > a.item {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

/* > 992px*/
@media only screen and (min-width: 992px) {
  div.ic3-moto.item {
    display: block;
  }
}

/* second nav */
.second-nav {
  margin-top: .8rem;
  margin-bottom: .0rem;
}

.second-nav .list .item {
  font-size: .9rem !important;
}

.second-nav > .horizontal.divider {
  margin-top: 0;
  margin-bottom: 0;
}

/* break points */
/*
- 768px
- 992px
- 1200px
*/

/*------------------------- END OF MENU ----------------------*/

/*mobile screen*/
/*> 768px*/
@media only screen and (min-width: 768px) {
  .mobile-only {
    display: none !important;
  }
}



/*reset vertical segments*/

.vertical.segment {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar.segment {
  background-image: url(../images/bg/escheresque_ste.png) !important;
}

/*---- MENU ----*/
.navbar.segment .menu{
  margin-left: 0;
  margin-right: .5rem;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'BenchNine';
}

.navbar.segment .menu a {
  text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
  .navbar > .menu > .right.menu {
    display: none !important;
  }
}

/* landing: big text block on the index page */
.landing.segment {
  padding-top: 3rem !important;
  padding-bottom: 4rem !important;
  background-image: url(../images/bg/escheresque_ste.png) !important;
}

.landing.segment h1.header {
  font-size: 3rem;
  font-family: 'Roboto Condensed';
}

.slogan.segment > h2 {
  text-align: center;
  margin: 2rem;
  /*line-height: 1.5rem;*/
  font-size: 1.5rem;
  font-family: 'Roboto Condensed';
  text-transform: uppercase;
  /*text-transform: capitalize;*/
  font-weight: 300;
  width: 90%;
}


/*major content segment*/
.second.stripe.segment {
  padding-top: 0;
  padding-bottom: 0;
}
.second.stripe.segment .grid .row .column {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.ui.vertical.stripe .horizontal.divider {
  /*margin: 3rem 0rem;*/
}

.footer.segment {
  padding: 2rem 0rem;
  background-image: url(../images/bg/escheresque_ste.png) !important;
}


.ic3-color {
  color: #9c2a4c !important;
}

.ui.main.container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  .ui.main.container {
    margin-top: .5rem;
  }
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
