/*IC3 LOGO IS ALWAYS DISPLAYED*/
#ic3-logo img {
  width: 350px;
  margin: 0px 10px;
}

/*MOTO IS DISPLAYED ON LARGER SCREEN (>992px)*/
.ic3-moto {
  font-size: 1.2rem !important;
}

div.ic3-moto.item {
  display: none !important;
  width: 13rem;
  word-wrap: break-word;
}

/*display on larger screen*/
@media only screen and (min-width: 992px) {
  .navbar > .menu > div.ic3-moto {
    display: block !important;
  }
}

@media only screen and (max-width: 767px) {
  /* display IC3 logo on mobile as well */
  .navbar > .menu > div.ic3-moto {
    display: block !important;
    width: 100%;
    padding-left: 0 !important;
  }
}

/*on really small screen*/
@media only screen and (max-width: 440px) {
  .navbar > .menu > div.ic3-moto {
    width: 13rem;
  }
}

/* < 1110: a slightly more compact menu */
/*@media only screen and (max-width: 1110px) {*/
  .navbar .menu > a.item {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
/*}*/

/* > 992px*/
@media only screen and (min-width: 992px) {
  div.ic3-moto.item {
    display: block;
  }
}

/* second nav */
.second-nav {
  margin-top: .8rem;
  margin-bottom: .0rem;
}

.second-nav .list .item {
  font-size: .9rem !important;
}

.second-nav > .horizontal.divider {
  margin-top: 0;
  margin-bottom: 0;
}

/* break points */
/*
- 768px
- 992px
- 1200px
*/

/*------------------------- END OF MENU ----------------------*/

/*mobile screen*/
/*> 768px*/
/* XXX NOTE: iPad Air has a width of 768px, we want mobile-only
to appear at that point */
@media only screen and (min-width: 768px) {
  .mobile-only {
    display: none !important;
  }
}



/*reset vertical segments*/

.vertical.segment {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar.segment {
  background-image: url(../images/bg/ic3pattern.png) !important;
  background-size: 200px !important;
}

/*---- MENU ----*/
.navbar.segment .menu{
  margin-left: 0;
  margin-right: .5rem;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'Roboto Condensed';
}

.navbar.segment .menu a {
  text-transform: uppercase;
}

.navbar.segment .menu a.item:not(.disabled) {
  color: white !important;
}

/*appear on iPad*/
@media only screen and (max-width: 767px) {
  .navbar > .menu > .right.menu {
    display: none !important;
  }
}

/* SLOGAN -------- */
.slogan.segment > h2 {
  text-align: center;
  margin: 3rem auto;
  /*line-height: 1.5rem;*/
  font-size: 1.5rem;
  font-family: 'Roboto Condensed';
  text-transform: uppercase;
  /*text-transform: capitalize;*/
  font-weight: 300;
  width: 90%;
}

/*slogan on smaller screen*/
@media screen and (max-width: 768px) {
  .slogan.segment > h2 {
    font-size: 1.3rem;
    margin-top: .8rem;
    margin-bottom: .6rem;
  }
}


/*major content segment*/

.second.stripe.segment {
  padding-top: 0;
  padding-bottom: 0;
}

.second.stripe.segment .grid .row .column {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.ui.vertical.stripe .horizontal.divider {
  /*margin: 3rem 0rem;*/
}

.footer.segment {
  padding: 2rem 0rem;
  background-image: url(../images/bg/ic3pattern.png) !important;background-size: 300px !important;
}

.ui.main.container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  .ui.main.text.container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em auto;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  max-width: 768px;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}


/* events page */
.ui.event.header {
    font-size: 2.5rem;
}
.ui.event.header .sub.header {
    margin-top: .8rem;
    /* font-family: 'Roboto Condensed'; */
}

/* partner page */
img.sponsor {
  height: 50px !important;
  width: auto !important;
  margin: 10px 20px !important;
}

.press-picture {
  width: 300px !important;
}

.press-picture-2 {
  width: 650px !important;
}

.press-picture-2 .images {
  line-height: 1;
}

.press-picture-2 .images img, .press-picture-2 .images .image {
  margin-bottom: 0px;
}

.press-picture img {
  width: 300px !important;
}
