<!DOCTYPE html>
<html>

<head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="IC3 (Initiative for cryptocurrency and Contract) is an initiative of faculty members at Cornell University, Cornell Tech, UC Berkeley, UIUC and the Technion. IC3 is collaborating with domain experts in finance and banking, entrepreneurs, regulators, and open source software communities to move these blockchain-based solutions from today’s white boards and proof-of-concepts to tomorrow’s fast and reliable financial systems of execution and record.">
    <meta name="keywords" content="IC3, Cornell University, Cornell Tech, UC Berkeley, UIUC, Technion, blockchain, world-class expertise, cryptography, distributed systems, programming languages, game theory, system security, cryptocurrency, bitcoin, BFT, smart contracts, proof-of-work, proof-of-stake."/>

    <!-- Site Properties -->
    <title>
        {% block title %} IC3 - The Initiative For Cryptocurrencies & Contracts {% endblock %}
    </title>

    <link rel="stylesheet" href="{{ SITE_ROOT }}/static/css/semantic/semantic.min.css">
    <link rel="stylesheet" href="{{ SITE_ROOT }}/static/css/screen.css">
</head>

<body>

    <div class="ui vertical navbar inverted segment">
        <div class="ui secondary inverted menu">
            <div class="item" id="ic3-logo">
                <a href="{{ SITE_ROOT }}/index.html">
                    <img src="{{ SITE_ROOT }}/static/images/bg/ic3-logo-white.png" alt="IC3 logo">
                </a>
            </div>
            <!-- <div class="right menu">
                <a class="item" href="{{ SITE_ROOT }}/index.html">Home</a>
                <div class="ui dropdown item">
                    ABOUT<i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item" href="{{ SITE_ROOT }}/about.html">About</a>
                        <a class="item" href="{{ SITE_ROOT }}/people.html">People</a>
                    </div>
                </div> -->
                <a class="item" href="{{ SITE_ROOT }}/about.html">About</a>
		<a class="item" href="{{ SITE_ROOT }}/accelerator.html">Accelerator</a>  
		<a class="item" href="{{ SITE_ROOT }}/people.html">People</a>    
                <a class="item" href="{{ SITE_ROOT }}/projects.html">Projects</a>  
                <a class="item" href="{{ SITE_ROOT }}/partners.html">Partners & Sponsors</a>
		<a class="item" href="{{ SITE_ROOT }}/events.html">Events</a>
		<a class="item" href="{{ SITE_ROOT }}/impact.html">Impact</a>  
		<a class="item" href="{{ SITE_ROOT }}/blogs.html">Blogs</a> 
                <a class="item" href="{{ SITE_ROOT }}/publications.html">Publications</a>
                <a class="item" href="{{ SITE_ROOT }}/press.html">Press</a>
            </div>
        </div>
    </div>

    {% block before_second_nav %}

    {% endblock %}

    <div class="ui mobile-only center aligned container second-nav">
        <div class="ui horizontal celled list">
            <div class="item"><a href="{{ SITE_ROOT }}/index.html">Home</a></div>
            <div class="item"><a href="{{ SITE_ROOT }}/about.html">About</a></div>
	    <div class="item"><a class="item" href="{{ SITE_ROOT }}/accelerator.html">Accelerator</a></div>
            <div class="item"><a href="{{ SITE_ROOT }}/people.html">People</a></div>
	    <div class="item"><a href="{{ SITE_ROOT }}/projects.html">Projects</a></div>	
            <div class="item"><a href="{{ SITE_ROOT }}/partners.html">Partners & Sponsors</a></div>
            <div class="item"><a href="{{ SITE_ROOT }}/events.html">Events</a></div>
	    <div class="item"><a href="{{ SITE_ROOT }}/impact.html">Impact</a></div>
	    <div class="item"><a href="{{ SITE_ROOT }}/blogs.html">Blogs</a></div>
            <div class="item"><a href="{{ SITE_ROOT }}/publications.html">Publications</a></div>
            <div class="item"><a href="{{ SITE_ROOT }}/press.html">Press</a></div>
        </div>

        <!-- <div class="ui horizontal divider"> i </div> -->
    </div>

    {% block content_base %} {% endblock %}

    <div class="ui inverted vertical footer segment">
        <div class="ui center aligned container">
            <p>&copy; 2010<script>document.write("-"+new Date().getFullYear());</script>, IC3. All rights reserved.</p>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="{{ SITE_ROOT }}/static/js/main.js"></script>
    <script async src="{{ SITE_ROOT }}/static/css/semantic/semantic.min.js"></script>
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-72748416-4', 'auto');
	ga('send', 'pageview');

	</script>
</body>

</html>
