{% extends "base.html" %}

{% block content %}

<div class="ui main container">

<h1 class="ui header">Upcoming Events</h1>

<ul>
{% for event in ongoing %}
<li>{{ event.start }}{% if event.end != event.start %} to {{ event.end }}{% endif %},
  <a href="{{ event.url }}">{{ event.name }}</a> at {{ event.location }}</li>
{% endfor %}
</ul>

<h1 class="ui header">Past Events</h1>

<ul>
{% for event in past %}
<li>{{ event.start }}{% if event.end != event.start %} to {{ event.end }}{% endif %},
  <a href="{{ event.url }}">{{ event.name }}</a> at {{ event.location }}</li>
{% endfor %}
</ul>


</div>

{% endblock %}
