{% extends "base.html" %}

{% macro event_item(event) %}
<li>{{ event.start }}{% if event.end != event.start %} to {{ event.end }}{% endif %},
  {% if event.url %}
    <a href="{{ event.url }}">{{ event.name }}</a>
  {% else %}
    {{ event.name }}
  {% endif %}

  {% if event.location %}
    at {{ event.location }}.
  {% endif %}
  {{ event.summary }}
</li>
{% endmacro %}

{% block content %}

<div class="ui main container">

<h1 class="ui header">Upcoming Events</h1>

<ul>
{% for event in ongoing %}
{{ event_item(event) }}
{% endfor %}
{% if ongoing | length == 0 %}
<li>The next exciting event is around the corner!</li>  
{% endif %}
</ul>

<h1 class="ui header">Past Events</h1>

<ul>
{% for event in past %}
{{ event_item(event) }}
{% endfor %}
</ul>


</div>

{% endblock %}
