{% extends "base.html" %}

{% block before_second_nav %}
<div class="ui vertical slogan segment">
    <h2 class="ic3-color"><bold>IC3</bold>: Advancing the science and applications of blockchains </h2>
</div>

{% endblock %}

{% block content_base %}

<div class="ui vertical stripe second segment">
    <div class="ui container">
        <div class="ui stackable internally celled grid">
            <div class="row">
                <!-- BLOGS-->
                <div class="eight wide column">
                    <h1 class="ui header"> <i class="fa fa-rss-square" aria-hidden="true"></i>
                      <div class="content ic3-color">Latest on Blog</div>
                    </h1>

                    <div class="ui items">
                        {% for b in blogs %}
                        <div class="item">
                            <div class="content">
                                {% if b.imgsrc %}
                                    <div class="left floated ui tiny image"><img src={{ SITE_ROOT }}/{{ b.imgsrc }} alt="" /> </div>
                                {% endif %}
                                <div class="header"><a href="{{ b.url }}">{{ b.title}}</a></div>
                                <div class="meta">by {{ b.authors }} on {{ b.date }}</div>
                                <div class="description">{{ b.summary }}</div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <a href="blogs.html">Older blogs...</a>
                </div>

                <!-- NEWS and EVENTS -->
                <div class="eight wide column">
                    <h1 class="ui header">
                      <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                      <div class="content ic3-color">News & Events</div>
                    </h1>

                    <div class="ui divided items">
                        {% for n in items %}
                        <div class="item">
                            <div class="content">
                                {% if n.type == 'news' %}
                                    <div class="meta"><span><i class="calendar icon"></i>{{ n.date_str }}</span> </div>
                                    <div class="">
                                        <a href="{{ n.url }}"><strong>{{ n.venue }}</strong>: {{ n.title }}</a>                                  </a>
                                    </div>
                                {% endif %}

                                {% if n.type == 'event' %}
                                <div class="meta">
                                    <span>{{ n.date_str }}</span>
                                    </div>
                                    {% set event_name %}
                                      <b>{{ n.name }}</b><i class="caret right icon"></i>
                                    {% if n.subtitle %}{{ n.subtitle }}{% endif %}
                                    {% endset %}
                                    {% if n.url %}
                                      <div class=""><a href="{{ n.url }}">{{ event_name }}</a></div>
                                    {% else %}
                                      <div class="">{{ event_name }}</div>
                                    {% endif %}
                                    {% if n.summary %}{{ n.summary }}{% endif %}
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                        <i class="arrow circle right icon"></i>More <a href="{{ SITE_ROOT }}/press.html">News</a> and
                        <a href="{{ SITE_ROOT }}/events.html">Events</a>

                    </div>
                </div>
            </div>

            <div class="row">
                <!-- FEATURE PROJECTS-->
                <div class="ten wide column">
                    {% include "index/_featured_projects.html" %}
                </div>

                <!--        JOB AND FOLLOW US-->
                <div class="six wide column">
                    {% include "index/_job_board.html" %} {% include "index/_followus.html" %}
                </div>
            </div>
        </div>
        <!-- end of grid -->
    </div>
</div>

{% endblock %}
