{% extends "page.html" %}

{% macro ppl_item(p) %}
<div class="item">
    <div class="content">
        <img class="left floated small ui image" src="images/people/{{ p.pic }}">
        <div class="header" >{{ p.name }} </div>
        <div class="meta">
            {% if p.title %}
            <span>{{ p.title }}</span>
            {% endif %}
            {% if p.email %}
            <div class="ui mini compact basic icon button"><a href={{ "mailto:" + p.email }}><i class="mail icon"></i>Email</a></div>
            {% endif %}
            {% if p.weburl %}
            <div class="ui mini compact basic icon button"><a href="{{ p.weburl }}"><i class="home icon"></i>Website</a></div>
            {% endif %}
        </div>
        <div class="description"><p>{{ p.bio }}</p></div>
        <div class="extra">
        </div>
    </div>
</div>
{% endmacro %}

{% block content %}

<div class="ui people divided items">

<h1>Directors</h1>

{% for p in people.directors %}
  {{ ppl_item(p) }}
{% endfor %}

{% for p in people.associate_directors %}
  {{ ppl_item(p) }}
{% endfor %}

<h1>Executive Director</h1>

{% for p in people.edirectors %}
  {{ ppl_item(p) }}
{% endfor %}
    
<h1>Chief Scientist</h1>

{% for p in people.chiefscientist %}
  {{ ppl_item(p) }}
{% endfor %}

<h1>Faculty / Scientists</h1>

{% for p in people.faculty %}
  {{ ppl_item(p) }}
{% endfor %}

<h2 class="pplheader">Postdocs</h2>

{% for p in people.postdocs %}
  {{ ppl_item(p) }}
{% endfor %}

<h2 class="pplheader">Students</h2>

{% for p in people.students %}
  {{ ppl_item(p) }}
{% endfor %}

</div>

<h2 class="pplheader">Governing Board</h2>

<div class="row pplgovboard">
    <div class="col-md-10 col-md-offset-1">
        <ul class="govboardul">
            <li class="govboardli">Ari Juels</li>
            <li class="govboardli">Roni Michaely</li>
            <li class="govboardli">Andrew Miller</li>
            <li class="govboardli">Elaine Shi</li>
            <li class="govboardli">Emin G&uuml;n Sirer</li>
            <li class="govboardli">Dawn Song</li>
        </ul>
    </div>
</div>

{% endblock %}
