{% extends "page.html" %}

{% block breadcrumb %}

{% endblock %}

{% block content %}


<h1 class="ui header">IC3 Research Newsletters</h1>
<ul>
    <li><a href="https://conta.cc/3lJQcL3">IC3 Research Newsletter, May 19,2022</a>
    <li><a href="https://conta.cc/3uthV6k">IC3 Research Newsletter, March 28, 2022</a>
    <li><a href="https://conta.cc/33G5uLk">IC3 Research Newsletter, February 21, 2022</a>
    <li><a href="https://conta.cc/3KsmftS">IC3 Research Newsletter, January 20, 2022</a>
    <li><a href="https://conta.cc/3qYWNox">IC3 Research Newsletter, November 22, 2021</a>
    <li><a href="https://conta.cc/30DPqrn">IC3 Research Newsletter, October 20, 2021</a>
    <li><a href="https://conta.cc/3zemUbt">IC3 Research Newsletter, September 15, 2021</a>
    <li><a href="https://conta.cc/2XTVf2L">IC3 Research Newsletter, August 24, 2021</a>
    <li><a href="https://conta.cc/3qlKvV3">IC3 Research Newsletter, June 24, 2021</a>
    <li><a href="https://conta.cc/3hX9R9n">IC3 Research Newsletter, May 27, 2021</a>
    <li><a href="https://conta.cc/3uOs8sK">IC3 Research Newsletter, April 14, 2021</a>
    <li><a href="https://conta.cc/2P9Q6io">IC3 Research Newsletter, March 18, 2021</a>
    <li><a href="https://conta.cc/3oMGpCH">IC3 Research Newsletter, February 4, 2021</a>
    <li><a href="https://conta.cc/3mF09rb">IC3 Research Newsletter, December 18, 2020</a>
    <li><a href="https://conta.cc/38tXJYF">IC3 Research Newsletter, November 10, 2020</a>
    <li><a href="https://conta.cc/34ZhPbP">IC3 Research Newsletter, September 1, 2020</a>
    <li><a href="https://conta.cc/2CiFTKG">IC3 Research Newsletter, July 16, 2020</a>
    <li><a href="https://conta.cc/2N7iNIE">IC3 Research Newsletter, June 10, 2020</a>
</ul>


<h1 class="ui header">Mentions of our work</h1>

<ul>
  {% for p in all_press %}
  <li><a href="{{ p.url }}">{{ p.title }}</a> by <strong>{{ p.venue }}</strong> on {{ p.date_str }}</li>
  {% endfor %}
</ul>

{% endblock %}
