{% extends "page.html" %}

{% block breadcrumb %}

{% endblock %}

{% block content %}

<h1 class="ui header">IC3 Quarterly Newsletters</h1>
<ul>
    <li><a href="files/IC3.Newsletter.Q1.2017.docx">IC3 Q1 2017 Newsletter, January 3, 2017</a>
</ul>

<h1 class="ui header">Selected highlights from the press</h1>

<ul>
  {% for p in featured_press %}
  <li><a href="{{ p.url }}">{{ p.title }}</a> by <strong>{{ p.venue }}</strong> on {{ p.date_str }}</li>
  {% endfor %}
</ul>


<h1 class="ui header">News about IC3</h1>

<ul>
    <li><a href="http://www.eweek.com/cloud/financial-and-tech-titans-form-open-source-blockchain-project.html">Financial and Tech Titans Form Open-Source Blockchain Project</a> by <strong>eWeek.com</strong> on Dec 17, 2015</li>
    <li><a href="https://bitcoinmagazine.com/articles/national-science-foundation-awards-research-grants-science-applications-cryptocurrency-1438296576">National Science Foundation Awards Research Grants on the Science and Applications of Cryptocurrency</a> by <strong>Bitcoin Magazine</strong> on Jul 30, 2015</li>
</ul>


<h1 class="ui header">Mentions of our work</h1>

<ul>
  {% for p in all_press %}
  <li><a href="{{ p.url }}">{{ p.title }}</a> by <strong>{{ p.venue }}</strong> on {{ p.date_str }}</li>
  {% endfor %}
</ul>

{% endblock %}
