{% extends "page.html" %}

{% block breadcrumb %}

{% endblock %}

{% block content %}

<h1 class="ui header">IC3 Newsletters</h1>
<ul>
    <li><a href="http://myemail.constantcontact.com/Updates-from-the-INITIATIVE-FOR-CRYPTOCURRENCIES-AND-CONTRACTS--IC3-.html?soid=1126638416463&aid=TUJsilUrwiU">IC3 Q1 and Q2 2018 Newsletter, June 6, 2018</a>
    <li><a href="files/IC3.Newsletter.Q1.2017.pdf">IC3 Newsletter, January 3, 2017</a>
    <li><a href="files/IC3.Q2.2017.Newsletter.Web.Posting.pdf">IC3 Newsletter, May 3, 2017</a>
    <li><a href="files/IC3.Q3.2017.Newsletter.pdf">IC3 Newsletter, September 6, 2017</a>
    <li><a href="files/IC3.Q4.2017.Newsletter.pdf">IC3 Newsletter, January 9, 2018</a>
    <li><a href="https://myemail.constantcontact.com/Updates-from-the-INITIATIVE-FOR-CRYPTOCURRENCIES-AND-CONTRACTS--IC3-.html?soid=1126638416463&aid=TUJsilUrwiU">IC3 Newsletter, June 6, 2018</a>
    <li><a href="https://myemail.constantcontact.com/Blockchain-Innovations-and-Events-from-IC3.html?soid=1126638416463&aid=o6D6JRvikQg">IC3 Newsletter, January 17, 2019</a>
    <li><a href="https://myemail.constantcontact.com/Upcoming-Blockchain-Events-in-NY-from-IC3.html?soid=1126638416463&aid=j7fNCi9CKrk">IC3 Newsletter, March 22, 2019</a>
    <li><a href="https://myemail.constantcontact.com/IC3-Blockchain-Camp-June-10-16--News--and-More.html?soid=1126638416463&aid=ExfFq40gdHo">IC3 Newsletter, May 14, 2019</a>
</ul>


<h1 class="ui header">Mentions of our work</h1>

<ul>
  {% for p in all_press %}
  <li><a href="{{ p.url }}">{{ p.title }}</a> by <strong>{{ p.venue }}</strong> on {{ p.date_str }}</li>
  {% endfor %}
</ul>

{% endblock %}
