{% extends "page.html" %}

{% macro p_item(p) %}
<div class="item">
    <div class="content">
        <div class="header" >{{ p.title }} </div>
        <div class="meta">
            {% if p.authors %}
            <span>{{ p.authors }}</span>
            {% endif %}
            {% if p.url %}
            <div class="ui mini compact basic icon button"><a href="{{ p.url }}"><i class="file alternate outline icon"></i>Paper</a></div>
            {% endif %}
        </div>
        <div class="description">
           <button class="ui compact basic icon mini showmore button">
              Read On<i class="double angle down icon"></i>
          </button>
          <p class="more"> {{ p.description }}
              <button class="ui compact basic mini showless icon button">
                  Show Less<i class="double angle up icon"></i>
              </button>
          </p>
      </div>
        <div class="extra">
        </div>
    </div>
</div>
{% endmacro %}


{% block content %}

<div class="ui publication divided items">

<h1>Preprints</h1>

{% for p in preprints %}
  {{ p_item(p) }}
{% endfor %}

{{ published_papers }}

{% endblock %}
