{% extends "page.html" %}

{% macro p_item(p) %}
<div class="item">
    <div class="content">
        <div class="header" >{{ p.name }} </div>
        <div class="meta">
            {% if p.authors %}
            <span>{{ p.authors }}</span>
            {% endif %}
        </div>
        <div class="description">
           <button class="ui compact basic icon mini showmore button">
              Read On<i class="double angle down icon"></i>
          </button>
          <p class="more"> {{ publication.description }}
              <button class="ui compact basic mini showless icon button">
                  Show Less<i class="double angle up icon"></i>
              </button>
          </p>
      </div>
        <div class="extra">
        </div>
    </div>
</div>
{% endmacro %}

{% block content %}

