{% extends "page.html" %}

{% macro video_item(video) %}

<div class="item">
    <div class="image">
      <img src={{ video.snapshot }} />
    </div>
    <div class="content">
      {% if video.url %}
        <div class="ui header"> <a href="{{ video.url }}"> {{ video.name }}</a> </div>
      {% else %}
        <div class="ui header ic3-color"> {{ video.name }}</div>
      {% endif %}
      <div class="meta">
          {{ video.meta }}
      </div>
      <div class="description">
        {{ video.description }}
      </div>
      <div class="extra">
        {{ video.additional }}
      </div>
    </div>
  </div>
{% endmacro %}

{% block breadcrumb %}{% endblock %}

{% block content %}

<h1 class="ui header">Videos</h1>

<div class="ui divided items">
{% for video in video_list %}
  {{ video_item(video) }}
{% endfor %}
</div>

{% endblock %}
